<% _.each(timelineArticle, function(value) { %>
    <% if(value.multiple_images == true) { %>
        <div class="app-index-card multi-image">
            <div class="card-description">
                <div class="card-title">
                    <%= value.title %>
                </div>
                <div class="card-note">
                    <span class="card-author">
                        <%= value.user.name %>
                    </span>
                    <span class="card-published">
                        <%= jt.timeSince(value.published) %>
                    </span>
                </div>
            </div>
            <div class="card-image">
                <img src="<%= value.image.baseUrl %>115/81<%= value.image.file %>"><img src="<%= value.description_images[0].baseUrl %>114/81/<%= value.description_images[0].file %>"><img
                    src="<%= value.description_images[1].baseUrl %>115/81/<%= value.description_images[1].file %>">
            </div>
            <a href="#article/<%= value.slug %>" class="card-link">
                <div class="ripple"></div>
            </a>
            <img src="<%= value.image.baseUrl %>9/3<%= value.image.file %>" style="display: none;">
        </div>
    <% } else { %>
        <div class="app-index-card">
            <div class="card-description">
                <div class="card-title">
                    <%= value.title %>
                </div>
                <div class="card-note">
                    <span class="card-author">
                        <%= value.user.name %>
                    </span>
                    <span class="card-published">
                        <%= jt.timeSince(value.published) %>
                    </span>
                </div>
            </div>
            <div class="card-image">
                <img src="<%= value.image.baseUrl %>120/120<%= value.image.file %>" alt="<%= value.title %>" />
                <img src="<%= value.image.baseUrl %>9/3<%= value.image.file %>" style="display: none;">
            </div>
            <a href="#article/<%= value.slug %>" class="card-link">
                <div class="ripple"></div>
            </a>
        </div>
    <% } %>
<% }) %>