<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" id="com.jalantikus.app"
        versionCode="9" version="2.5.2">
    <name>JalanTikus</name>
    <description>
        Situs Download Software dan Games Gratis, Aplikasi Android APK dan Games APK Gratis, Tips dan Trik, Berita
        Gadget dan Informasi Teknologi Dunia Terbaru Hanya di JalanTikus.com
    </description>
    <author href="https://jalantikus.com" email="info@jalantikus.com">
        JalanTikus
    </author>

    <!--<platform name="ios"/>-->
    <platform name="android"/>

    <!--Statusbar Plugin-->
        <preference name="StatusBarOverlaysWebView" value="false"/>
        <preference name="StatusBarBackgroundColor" value="#8f1f1f"/>
        <preference name="StatusBarStyle" value="default"/>
    <!--Statusbar Plugin-->

    <!--File Plugin-->
        <preference name="AndroidPersistentFileLocation" value="Internal" />
    <!--File Plugin-->

    <!--Splashscreen Plugin-->
        <preference name="SplashScreen" value="res/splashscreen.png"/>
        <preference name="ShowSplashScreen" value="true"/>
        <preference name="ShowSplashScreenSpinner" value="false"/>
        <preference name="AutoHideSplashScreen" value="false"/>
        <preference name="SplashShowOnlyFirstTime" value="true"/>
        <preference name="SplashMaintainAspectRatio" value="true" />
    <!--Splashscreen Plugin-->

    <!--Whitelist Plugin-->
        <allow-navigation href="*://*.jalantikus.com/*"/>
        <allow-navigation href="*://jalantikus.com/*"/>
        <allow-navigation href="*://*.babe.news/*"/>

        <allow-intent href="*://*.jalantikus.com/*"/>
        <allow-intent href="*://jalantikus.com/*"/>
        <allow-intent href="*://*.babe.news/*"/>

        <access origin="*://*.jalantikus.com/*"/>
        <access origin="*://jalantikus.com/*"/>
        <access origin="*://*.babe.news/*"/>

        <allow-intent href="whatsapp:*"/>
        <allow-intent href="line:*"/>
        <allow-intent href="bbmi:*"/>

        <!--Additional Domain-->
            <allow-navigation href="*://*.playbuzz.com/*"/>
            <allow-intent href="*://*.playbuzz.com/*"/>
            <access origin="*://*.playbuzz.com/*"/>

            <allow-navigation href="*://giphy.com/*"/>
            <allow-intent href="*://giphy.com/*"/>
            <access origin="*://giphy.com/*"/>

            <allow-navigation href="*://www.youtube.com/*"/>
            <allow-intent href="*://www.youtube.com/*"/>
            <access origin="*://www.youtube.com/*"/>

            <allow-navigation href="*://*.ytimg.com/*"/>
            <allow-intent href="*://*.ytimg.com/*"/>
            <access origin="*://*.ytimg.com/*"/>

            <allow-navigation href="*://*.google.com/*"/>
            <allow-intent href="*://*.google.com/*"/>
            <access origin="*://*.google.com/*"/>

            <allow-navigation href="*://*.googlevideo.com/*"/>
            <allow-intent href="*://*.googlevideo.com/*"/>
            <access origin="*://*.googlevideo.com/*"/>

            <allow-navigation href="*://*.instagram.com/*"/>
            <allow-intent href="*://*.instagram.com/*"/>
            <access origin="*://*.instagram.com/*"/>
        <!--Additional Domain-->
    <!--Whitelist Plugin-->

    <!--Multi-Platform Preferences-->
        <preference name="phonegap-version" value="cli-6.5.0"/>
        <!--<preference name="orientation" value="portrait"/>-->
        <preference name="fullscreen" value="false"/>
        <preference name="permissions" value="none"/>
    <!--Multi-Platform-->

    <!-- Android Preferences -->
        <preference name="android-minSdkVersion" value="21"/>
        <!--<preference name="android-targetSdkVersion" value="21"/>-->
        <preference name="android-installLocation" value="auto"/>
        <preference name="android-build-tool" value="gradle"/>

        <platform name="android">
            <icon src="res/icons/google-play-store.png"/>
            <icon src="res/icons/drawable-ldpi-icon.png" density="ldpi"/>
            <icon src="res/icons/drawable-mdpi-icon.png" density="mdpi"/>
            <icon src="res/icons/drawable-hdpi-icon.png" density="hdpi"/>
            <icon src="res/icons/drawable-xhdpi-icon.png" density="xhdpi"/>
            <icon src="res/icons/drawable-xxhdpi-icon.png" density="xxhdpi"/>
            <icon src="res/icons/drawable-xxxhdpi-icon.png" density="xxxhdpi"/>
        </platform>
    <!-- Android Preferences -->

    <gap:config-file platform="android" parent="/manifest">
        <application android:theme="@android:style/Theme.Material.Light.NoActionBar"></application>
    </gap:config-file>

    <gap:plugin name="onesignal-cordova-plugin" spec="^2.0.6" source="npm" />
    <gap:plugin name="phonegap-plugin-mobile-accessibility" spec="~1.0.5" source="npm"/>

    <plugin name="cordova-plugin-whitelist" spec="~1.2.1" source="npm"/>
    <plugin name="cordova-plugin-splashscreen" spec="~3.2.1" source="npm"/>
    <plugin name="cordova-plugin-statusbar" spec="~2.1.2" source="npm"/>
    <plugin name="cordova-plugin-file" spec="~4.3.1" source="npm"/>
    <plugin name="cordova-plugin-market" spec="~1.1" source="npm"/>
    <plugin name="cordova-plugin-dialogs" spec="^1" source="npm"/>
    <plugin name="cordova-plugin-inappbrowser" spec="^1" source="npm"/>
    <plugin name="cordova-plugin-app-version" spec="~0.1.9" source="npm"/>
    <plugin name="cordova-plugin-appavailability" spec="~0.4.2" source="npm" />
</widget>
