@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
	font-weight: 100;
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
	font-weight: 700;
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}
body, input
{
	outline: none;
	text-decoration: none;
	font-family: "Roboto";
}
a[href], button {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    text-decoration: none;
}
html, body
{
	margin: 0;
}
div, span, a 
{
	text-shadow: 0px 0px 0px transparent
}
.shadow-l1 {
    box-shadow: 0 1px 1px rgba(0,0,0,0.04), 0 1px 5px rgba(0,0,0,0.15)
}
.shadow-l2 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.2);
}
.shadow-l3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.shadow-l4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.shadow-l5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.app-toolbar
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	max-height: 95px;
	width: 100%;
	z-index: 12;
	-webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    overflow: visible;
}
.app-toolbar.detail .app-header:not(.browser):before, .app-toolbar.detail .app-header:not(.browser):after
{
	height: 50px;
	top: 0;
	opacity: 1;
	-webkit-transition: opacity 0.1s;
	transition: opacity 0.1s;
}
.app-toolbar.detail.scroll .app-header:before, .app-toolbar.detail.scroll .app-header:after
{
	opacity: 0;
}
.app-toolbar.offline .app-header:before, .app-toolbar.offline .app-header:after
{
	background-color: #5f5f5f;
}
.app-toolbar.offline .quick-search-container #quick-search-form:after
{
	background-color: #5f5f5f;
}
.app-toolbar.scroll
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 12;
	box-shadow: 0 0 0;
}
.app-toolbar-placeholder
{
	display: none;
	max-height: 50px;
	height: 50px;
    width: 100%;
    margin-top: 0;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear;
}
/*.app-toolbar.on-top ~ #app-body .app-toolbar-placeholder
{
	margin-top: 40px;
}*/
.app-body
{
	background-color: #fff;
	height: 100vh;
}
.app-content-container
{
	margin-top: 50px;
	height: calc(100%);
	overflow-y: scroll;
	-webkit-transition: 0.2s linear;
	transition: 0.2s linear;
	box-sizing: border-box;
}
.app-content-container .app-index-card:first-child
{
	margin-top: 45px;
}
.app-toolbar.on-top ~ #app-body .app-content-container
{
	height: calc(100%);
}
.app-index-card
{
    position: relative;
    height: 100px;
    border-radius: 2px;
    padding: 15px;
    border-bottom: 1px solid #f0f0f0;
}
.app-toolbar .app-logo 
{
    position: absolute;
    left: 60px;
    transform: translate(0, 0);
    width: 120px;
    height: 50px;
    background-color: #fff;
    -webkit-mask-image: url(../images/jalantikus-logo.svg);
    mask-image: url(../images/jalantikus-logo.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: auto 20px;
    mask-size: auto 20px;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    z-index: 8;
}
.app-toolbar.on-top .app-logo 
{
    left: 50%;
    transform: translate(-50%, 0);
}
.app-article-more
{
	padding: 0
}
.app-article-more .app-index-card
{
	height: auto;
	display: inline-block;
	width: calc(100% / 2);
	padding: 15px;
	border-radius: 0;
	box-sizing: border-box;
}
.app-article-more .app-index-card:nth-child(1)
{
	border-bottom: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;
}
.app-article-more .app-index-card:nth-child(2)
{
	border-bottom: 1px solid #f0f0f0;
}
.app-article-more .app-index-card:nth-child(3)
{
	border-right: 1px solid #f0f0f0;
}
.more-title
{
	color: #c92737;
	font-size: 18px;
    line-height: 24px;
	padding: 15px;
	font-weight: 700;
	border-left: 10px solid #c92737;
}
.app-article-more .app-index-card .card-description .card-title
{
	font-size: 12px;
	line-height: 22px;
	height: 66px;
	max-height: 66px;
}
.app-index-card.multi-image .card-description
{
	padding: 0 0 15px 0;
}
.app-index-card.multi-image .card-description .card-note 
{
	max-width: calc(100% - 30px);
}
.app-index-card .card-description .card-title
{
	color: #454545;
	position: relative;
	font-size: 15px;
	line-height: 23px;
	max-height: 69px;
	-webkit-line-clamp : 3;
	font-weight: bold;
	display            : block;
	display            : -webkit-box;
	-webkit-box-orient : vertical;
	position           : relative;
	overflow           : hidden;
	text-overflow      : ellipsis;
	padding            : 0 !important;
}
.app-index-card.multi-image .card-description .card-title
{
	max-height: 44px;
}
.app-index-card.card-placeholder .card-description .card-title
{
    width: 100%;
    height: 15px;
    background-color: #eee;
    box-shadow: 0px 20px 0px #eee;
}
.app-index-card.card-placeholder .card-note .card-author, .app-index-card.card-placeholder .card-note .card-published
{
    width: 50px;
    height: 12px;
    background-color: #eee;
    display: inline-block;
}
.app-index-card .card-description .card-title:after
{
	content    : '...';
	text-align : right;
	bottom     : 0;
	right      : 0;
	width      : 25%;
	display    : block;
	position   : absolute;
	height     : 22px;
	background : linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 75%);
}
@supports (-webkit-line-clamp: 1)
{
	.app-index-card .card-description .card-title:after
	{
		display : none !important;
	}
}
.app-index-card .card-image
{
	position: absolute;
	top: 15px;
	right: 15px;
	height: 100px;
	width: 100px;
}
.app-article-more .app-index-card .card-image
{
	width: 100%;
	top: 0;
	right: 0;
	height: auto;
	position: relative;
}
.app-index-card.card-placeholder .card-image
{
	background-image: url(../images/placeholder.png);
    background-color: #eee;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.app-index-card.multi-image 
{
	height: auto;
}
.app-index-card.multi-image .card-image
{
	position: relative;
	top: 0;
	right: 0;
	height: auto;
	width: auto;
	padding: 0 0 25px;
}
.app-index-card .card-image img
{
	height: 100px;
	width: 100px;
	border-radius: 0 2px 2px 0;
	background-image: url(../images/placeholder.png);
    background-color: #eee;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.app-index-card.multi-image .card-image img
{
	margin-right: 10px;
	border-radius: 0;
	width: calc((100% - 20px) / 3);
	height: calc(((100vw - 20px) / 3 ) * 0.62);
	background-image: url(../images/placeholder.png);
    background-color: #eee;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.app-article-more .app-index-card .card-image img
{
	display: block;
	width: 100%;
	height: calc(((100vw - 45px) /2 ) * 0.59);
	position: relative;
	z-index: 2
}
.app-index-card.multi-image .card-image img:nth-child(3)
{
	margin-right: 0
}
.app-index-card .card-description
{
	padding: 0 125px 15px 0;
}
.app-article-more .app-index-card .card-description
{
	padding: 10px 0px 30px 0px;
}
.app-index-card .card-description .card-note {
    position: absolute;
    bottom: 15px;
    left: 15px;
    max-width: calc(100% - 140px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #bcbcbc;
}
.app-index-card .card-description .card-author, .app-index-card .card-description .card-published
{
	position: relative;
	font-size: 11px;
	color: #bcbcbc;
}
.app-article-more .app-index-card .card-description .card-note
{
	/* bottom: 5px; */
	/* left: 10px; */
	max-width: calc(100% - 20px);
}
.app-article-more .app-index-card .card-description .card-category
{
	font-size: 11px;
	font-weight: 700;
	line-height: 22px;
	padding-left: 25px;
}
.app-article-more .app-index-card .card-description .card-category.category-populer
{
	color: #9e0909;
}
.app-article-more .app-index-card .card-description .card-category.category-populer:after, .app-article-more .app-index-card .card-description .card-category.category-wajibbaca:after
{
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	content: "";
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 16px 16px;
	mask-size: 16px 16px;
	-webkit-mask-position: center center;
	mask-position: left center;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.app-article-more .app-index-card .card-description .card-category.category-populer:after
{
	background-color: #9e0909;
	-webkit-mask-image: url(../images/hot-icon.svg);
	mask-image: url(../images/hot-icon.svg);
}
.app-article-more .app-index-card .card-description .card-category.category-wajibbaca
{
	color: #079718;
}
.app-article-more .app-index-card .card-description .card-category.category-wajibbaca:after
{
	background-color: #079718;
	-webkit-mask-image: url(../images/rate-icon.svg);
	mask-image: url(../images/rate-icon.svg);
}
.app-index-card .card-description .card-published
{
	padding-left: 20px;
}
.app-index-card .card-description .card-published:after
{
	content: "";
	position: absolute;
	left: 5px;
	top: 1px;
	height: 11px;
	width: 11px;
	background: url(../images/time-icon.svg) no-repeat;
	background-size: 11px 11px;
	opacity: 0.3;
}
.app-index-card.card-placeholder .card-description .card-published
{
	padding: 0;
}
.app-index-card.card-placeholder .card-description .card-published:after
{
	display: none;
}
.card-link, .rating-link, .app-gotohome, .app-gotoweb
{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
	z-index: 9;
}
.usermenu-bottom
{
	padding-top: 10px!important;
}
.usermenu-bottom .usermenu-item.app-share
{
	display: none!important;
}
.ui-panel-inner .jalantikus-copyright
{
	position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%;
    font-size: 12px;
    color: #9a9a9a;
}
.ripple
{
	width: 450px;
	height: 450px;
	position: absolute;
	left: -225px;
	top: -225px;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.44);
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transform: scale(0);
	transform: scale(0);
	opacity: 0;
	z-index: 2;
}
.fadedin .ripple
{
	-webkit-transition: opacity 300ms linear, -webkit-transform 300ms linear;
    transition: opacity 300ms linear, transform 300ms linear;
	-webkit-transform: scale(0.75);
	transform: scale(0.75);
	opacity: 0.7;
}
.fadedin.fadedout .ripple
{
	-webkit-transition: opacity 100ms linear, -webkit-transform 100ms linear;
    transition: opacity 100ms linear, transform 100ms linear;
	opacity: 0;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.rating-link.fadedin .ripple
{
	-webkit-transition: opacity 600ms linear, -webkit-transform 600ms linear;
    transition: opacity 600ms linear, transform 600ms linear;
}
.rating-link.fadedin.fadedout .ripple
{
	-webkit-transition: opacity 200ms linear, -webkit-transform 200ms linear;
    transition: opacity 200ms linear, transform 200ms linear;
}
.app-loader
{
	margin: 20px auto 20px;
	height: 50px;
	width: 100%;
}
.app-toolbar.detail ~ #app-body .app-loader
{
	margin-top: 60px;
}
.app-loader .app-load, .splash-content .app-load 
{
	position: relative;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    background-color: #fff;
    border-radius: 50%;
    background-repeat: no-repeat;
    pointer-events: none;
}
.app-loader .app-load:after
{
	position: absolute;
	height: 25px;
	width: 25px;
	top: 12px;
	left: 12px;
	content: "";
    -webkit-mask-image: url(../images/jalantikus-logo.svg);
    mask-image: url(../images/jalantikus-logo.svg);
    -webkit-mask-position: left center;
    mask-position: left center;
    -webkit-mask-size: auto 25px;
    mask-size: auto 25px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: #c92737;
}
.app-loader .app-load:before
{
	position: absolute;
    height: 52px;
    width: 52px;
    top: -1px;
    left: -1px;
	content: "";
	border-radius: 50%;
	border-left: 4px solid #c92737;
	border-top: 4px solid #ededed;
	border-right: 4px solid #ededed;
	border-bottom: 4px solid #ededed;
    -webkit-animation: refresh 1.2s linear infinite;
    animation: refresh 1.2s linear infinite;
    box-sizing: border-box;
}
.app-loader .app-retry, .splash-content .app-retry 
{
    display: none;
    width: 200px;
    height: 15px;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    padding: 15px 0;
    color: #fff;
    text-shadow: 0 0 0;
    font-size: 12px;
    line-height: 15px;
    padding-left: 40px;
    text-align: center;
    background-image: url(../images/refresh-icon.svg);
    background-color: #c92737;
    background-position: top 10px left 20px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: 25px 25px;
}
.splash-content .app-load, .splash-content .app-retry 
{
	margin-top: 20px;
}
.splash-content .app-retry 
{
	border: 2px solid #fff;
}
.offline ~ .app-body .app-loader .app-retry
{
	background-color: #5f5f5f;
}
.offline ~ .app-body .app-loader .app-load:before
{
	border-left: 4px solid #5f5f5f;
	border-top: 4px solid #ededed;
	border-right: 4px solid #ededed;
	border-bottom: 4px solid #ededed;
}
.offline ~ .app-body .app-loader .app-load:after
{
    background-color: #5f5f5f;
}
.app-loader .app-retry:hover, .app-loader .app-retry:active, .app-loader .app-retry:visited, .splash-content .app-retry:hover, .splash-content .app-retry:active, .splash-content .app-retry:visited
{
	color: #fff;
	text-decoration: none;
}
@-webkit-keyframes refresh
{
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes refresh
{
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.app-detail-container
{
	height: 100%;
	overflow-y: scroll;
	background-color: #fff
}
.app-detail-body
{
	padding: 0px 15px 5px 15px;
	color: #454545;
	font-size: 15px;
	line-height: 26px;
	font-weight: 500;
	overflow: hidden;
    border-top: 1px solid #ddd;
}
.app-detail-body h2
{
    margin-top: 0px;
    font-size: 21px;
    font-weight: bold;
    color: #252525;
    line-height: 32px;
}
.app-detail-body h3
{
    margin-top: 0px;
    font-size: 19px;
    font-weight: bold;
    color: #252525;
    line-height: 28px;
}
.app-detail-body img
{
	width: 100%;
}
.app-detail-body a, .app-detail-body a:hover, .app-detail-body a:active, .app-detail-body a:visited
{
	color: #c92737;
	font-weight: 500;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	text-decoration: none;
}
.app-detail-body a:active
{
	color: #0071c7;
}
.app-detail-body table
{
    width: 100%;
    margin-bottom: 15px;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}
.app-detail-body table th 
{
    background: #f8f8f8;
    border-bottom: 2px solid #dddddd;
    font-weight: 700;
    text-align: left;
}
.app-detail-body table td
{
    border-bottom: 1px solid #dddddd;
}
.app-detail-body table th, .app-detail-body table td
{
    padding: 4px 6px;
	font-size: 14px;
	line-height: 18px;
	word-break: break-word;
}
.app-detail-header
{
	width: 100%;
	height: auto;
}
.app-detail-header .header-image
{
	position: relative;
	border-bottom: 5px solid #c92737;
}
.app-detail-header .header-image:after
{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background : linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 80%)
}
.app-detail-header .header-image:before
{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url(../images/placeholder.png);
    background-color: #eee;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.app-detail-header .header-image img
{
	display: block;
	width: 100%;
	min-height: calc( 100vw * 0.43);
	position: relative;
	z-index: 2
}
.app-detail-header .header-detail
{
	position: relative;
}
.app-detail-header .header-detail .header-author, .app-detail-header .header-detail .header-published
{
	position: absolute;
    bottom: 12px;
    font-size: 12px;
    color: #788d97;
    font-weight: 500;
    text-shadow: 1px 1px 3px #3e3e3e;
}
.app-detail-header .header-detail .header-author
{
	left: 15px;
}
.app-detail-header .header-detail .header-published
{
	right: 15px;
}
.app-detail-header .header-title
{
	background: #354e5c;
	padding: 15px 15px 40px;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
	text-shadow: 1px 1px 1px #121212
}
.share-container
{
    display: inline-block;
    list-style: none;
    padding: 15px;
    height: 55px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    z-index: 11;
    position: relative;
}
.app-detail-body ~ .share-container
{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
    z-index: 9;
}
.share-container li, .share-container li a
{
	width: 50px;
	height: 25px;
	display: inline-block;
	border-radius: 2px;
}
.share-container li
{
	margin-right: calc((100% - 250px) / 4);
}
#share-link
{
	position: absolute;
    top: -200px;
    z-index: -9999;
    opacity: 0;
}
@media(min-width: 360px){
	.share-container li
	{
		margin-right: 20px;
	}
}

.share-container li:last-child
{
	margin: 0;
}
.share-container li a
{
	background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center center;
}
.share-container li.wa-share 
{
    background-color: #43d854;
}
.share-container li.wa-share a
{
	background-image: url(../images/wa-icon.svg);
}
.share-container li.bbm-share 
{
    background-color: #373737;
}
.share-container li.bbm-share a
{
	-webkit-mask-image: url(../images/bbm-icon.svg);
	mask-image: url(../images/bbm-icon.svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	mask-position: center center;
	-webkit-mask-size: 16px 16px;
	mask-size: 16px 16px;
    background: #fff;
}
.share-container li.line-share 
{
    background-color: #00c300;
}
.share-container li.line-share a
{
	background-image: url(../images/line-icon.png);
	background-size: 24px auto;
    background-repeat: no-repeat;
    background-position: center center;
}
.share-container li.fb-share
{
	background-color: #3b5998;
}
.share-container li.fb-share a
{
	-webkit-mask-image: url(../images/fb-icon.svg);
	mask-image: url(../images/fb-icon.svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	mask-position: center center;
	-webkit-mask-size: 16px 16px;
	mask-size: 16px 16px;
    background: #fff;
}
.share-container li.link-share
{
	background-color: #c30053;
}
.share-container li.link-share a
{
	-webkit-mask-image: url(../images/link-icon.svg);
	mask-image: url(../images/link-icon.svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	mask-position: center center;
	-webkit-mask-size: 16px 16px;
	mask-size: 16px 16px;
    background: #fff;
}
.share-container li.more-share
{
	background-color: #8c8c8c;
}
.share-container li.more-share a
{
	-webkit-mask-image: url(../images/more-icon.svg);
	mask-image: url(../images/more-icon.svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	mask-position: center center;
	-webkit-mask-size: 16px 16px;
	mask-size: 16px 16px;
    background: #fff;
}
.userpanel-header
{
	height: 120px;
	background-color: #c92737;
}
.userpanel-container
{
	overflow: hidden;
}
.userpanel-body 
{
    overflow-y: scroll;
}
.searchpanel-header
{
	height: 50px;
	background-color: #fff;
}
.app-header
{
	width: 100%;
	height: 50px;
}
.app-header:after, .app-header:before
{
	height: 50px;
	width: 100%;
	position: absolute;
	top: 0;
	content: "";
	background-color: #c92737;
	-webkit-transition: 0.2s linear;
	transition: 0.2s linear;
	z-index: 4;
}
.app-header:after
{
	height: 45px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.2);
}
.app-header:before
{
	z-index: 7
}
.app-toolbar.on-top .app-header:after
{
	top: 49px;
}
.app-header .app-toggle-userpanel
{
	width: 100%;
	height: 60px;
	text-decoration: none;
	z-index: 8;
}
.app-header .header-description
{
	color: #fff;
	position: absolute;
	left: 60px;
	top: 15px;
	line-height: 20px;
	height: 18px;
	font-size: 19px;
	font-weight: 500;
	display: block;
	text-shadow: 0px 0px 0px;
	z-index: 8;
}
.app-header .header-menu
{
	height: 50px;
	width: 50px;
	position: absolute;
	left: 0;
	top: 0;
}
.app-header .header-menu:after
{
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	top: 0;
	bottom: 0;
	left: 0;
}
.app-header .header-menu.index:after
{
    background: url(../images/menu-icon.svg) center center no-repeat;
    background-size: 24px 24px;
}
.app-header .header-menu.back:after
{
	-webkit-mask-image: url(../images/arrow-back-icon.svg);
	mask-image: url(../images/arrow-back-icon.svg);
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	mask-position: center center;
    background: #fff;
}
.app-toggle-searchpanel, .app-header .header-search, .app-header .app-home .app-menu-home, .app-header .header-refresh
{
	height: 50px;
	width: 50px;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	z-index: 8;
}
.app-header .header-search:after
{
	content: "";
	position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    background: url(../images/search-icon.svg) center center no-repeat;
    background-size: 24px 24px;
}
.app-header .app-home, .app-header .app-toggle-refresh
{
	height: 50px;
	width: 50px;
	position: absolute;
	right: 50px;
	top: 0;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	z-index: 8;
}
.app-body .app-refreshed, .splash .app-refreshed
{
	display: none; 
    position: fixed;
    top: 200px;
    text-align: center;
    padding: 10px 20px;
    margin: auto;
    left: 50%;
    transform: translate(-50%, 0);
    width: auto;
    max-width: 240px;
    color: #fff;
    background: rgba(0,0,0,0.8);
    text-shadow: 0 0 0;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 500;
    z-index: 15;
    white-space: nowrap;
}
.splash .app-refreshed
{
	top: 50px;
	z-index: 999;
    background: rgba(0,0,0,0.25);
}
.app-header .header-refresh:after
{
	content: "";
	position: absolute;
	width: 50px;
	height: 50px;
	top: 0;
	bottom: 0;
	left: 0;
	background: url(../images/refresh-icon.svg) center center no-repeat;
	background-size: 24px 24px;
}
.app-header .header-refresh.active:after
{
	-webkit-animation: refresh 1.2s linear 1;
    animation: refresh 1.2s linear 1;
}
.app-header .app-menu-home:after
{
	content: "";
	position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    bottom: 0;
    left: 0;
    -webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	mask-position: center center;
	-webkit-mask-image: url(../images/home-icon.svg);
	mask-image: url(../images/home-icon.svg);
    background: #fff;
    background-size: 24px 24px;
}
.app-header .app-toggle-back, .app-header .app-toggle-userpanel
{
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	z-index: 7;
}
.app-header .app-toggle-back:after, .app-header .app-toggle-userpanel:after, .app-header .app-toggle-searchpanel:after, .app-header .header-refresh:before, .app-header .app-home:after
{
	width: 40px;
	height: 40px;
	position: absolute;
	content: "";
	display: block;
	left: 5px;
	top: 5px;
	border-radius: 50%;
	background: rgba(255,255,255, 0.16);
	opacity: 0;
	transition: 0.15s linear;
}
.app-header .app-toggle-back.active:after, .app-header .app-toggle-userpanel.active:after, .app-header .app-toggle-searchpanel.active:after, .app-header .header-refresh.active:before, .app-header .app-home.active:after
{
	opacity: 1
}
.quick-search-container .quick-search
{
    width: 100%;
    padding: 5px 10px 5px 50px;
    border: 0;
    border-radius: 4px;
    height: 35px;
    box-sizing: border-box;
}
.app-toolbar .quick-search-container
{
	position: absolute;
	padding: 0 15px 0 15px;
	top: 10px;
	left: 0;
	right: 0;
	height: 35px;
	-webkit-transition: 0.2s linear;
	transition: 0.2s linear;
	margin: 0 15px;
	overflow: hidden;
	z-index: 5;
}
.app-toolbar.on-top .quick-search-container
{
	top: 50px;
}
.app-toolbar.on-top .quick-search-container.active
{
	z-index: 999
}
.app-toolbar .quick-search-container #quick-search-form
{
	position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
.app-toolbar .quick-search-dismiss
{
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.45);
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.2s ;
    transition: opacity 0.2s;
}
.app-toolbar .quick-search-dismiss.active
{
	visibility: visible;
	opacity: 1;
	z-index:  9;
}
.quick-search-container #quick-search-form:after
{
	position: absolute;
    width: 20px;
    height: 20px;
    content: "";
    top: 8px;
    left: 15px;
    background-color: #c92737;
    -webkit-mask-image: url(../images/search-icon.svg);
    mask-image: url(../images/search-icon.svg);
    -webkit-mask-size: 20px;
    mask-size: 15px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}
.on-top.app-toolbar .app-header .app-toggle-searchpanel
{
	right: -60px;
}
.on-top.app-toolbar .app-header .app-toggle-refresh
{
	right: 0;
}
.app-panel .searchpanel 
{
	position: relative;
}
.app-panel .searchpanel .header-back
{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0;
	top: 0;
    background: url(../images/arrow-back-icon.svg) center center no-repeat;
    opacity: 0.5;
}
.app-panel .searchpanel .header-voice
{
	width: 60px;
	height: 60px;
	position: absolute;
	right: 0;
	top: 0;
    background: url(../images/mic-icon.svg) center center no-repeat;
    opacity: 0.5;
}
.app-search
{
	text-align: center;
    line-height: 24px;
    font-size: 18px;
    margin: 15px 0 15px 0;
}
.app-search .app-search-keyword
{
	font-weight: 700;
}
.app-panel .searchpanel .searchbar
{
	width: calc(100% - 120px);
	margin-left: 60px;
	height: 50px;
	border: 0;
	padding: 0;
	font-size: 18px;
}
.app-panel .userpanel-header .jalantikus-logo
{
	height: 64px;
	position: absolute;
	left: 25px;
	top: 25px;
}
.app-panel .userpanel-header .jalantikus-name
{
	display: inline-block;
	color: #fff;
	vertical-align: top;
	padding-left: 20px;
	margin-top: 10px;
}
.app-panel .userpanel-header .jalantikus-title
{
	font-size: 20px;
    text-shadow: 0px 0px 0px;
    line-height: 32px
}
.app-panel .userpanel-header .jalantikus-subtitle
{
	font-size: 14px;
	font-weight: 100;
    color: #ffcfcf;
	text-shadow: 0px 0px 0px;
}
.app-panel .userpanel-body .usermenu-top
{
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eeeeee; 
}
.app-panel .userpanel-body .usermenu-item
{
    text-decoration: none;
    position: relative;
    overflow: hidden;
    width: 290px;
    height: 55px;
    display: block;
}
.app-panel .userpanel-body .usermenu-item .usermenu-item-detail
{
    height: 15px;
    padding: 20px 20px 20px 50px;
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    color: #000;
    position: relative;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.app-panel .userpanel-body .usermenu-item.active .usermenu-item-detail
{
	background-color: #eeeeee; 
	color: #c92737;
}
.usermenu-item .usermenu-item-detail:after
{
	content: "";
	width: 55px;
	height: 55px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #767676;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 16px 16px;
	mask-size: 16px 16px;
	-webkit-mask-position: center center;
	mask-position: center center;
	-webkit-transition: 0.3s;
	transition: 0.3s;
	-webkit-transform: translate(0);
	transform: translate(0);
}
.usermenu-item.active .usermenu-item-detail:after
{
	background-color: #c92737; 
}
.usermenu-item .usermenu-item-detail.home:after
{
	-webkit-mask-image: url(../images/home-icon.svg);
	mask-image: url(../images/home-icon.svg);
}
.usermenu-item .usermenu-item-detail.hot:after
{
	-webkit-mask-image: url(../images/hot-icon.svg);
	mask-image: url(../images/hot-icon.svg);
}
.usermenu-item .usermenu-item-detail.hack:after
{
	-webkit-mask-image: url(../images/highlight-icon.svg);
	mask-image: url(../images/highlight-icon.svg);
}
.usermenu-item .usermenu-item-detail.game:after
{
	-webkit-mask-image: url(../images/stars-icon.svg);
	mask-image: url(../images/stars-icon.svg);
}
.usermenu-item .usermenu-item-detail.share:after
{
	-webkit-mask-image: url(../images/share-icon.svg);
	mask-image: url(../images/share-icon.svg);
}
.usermenu-item .usermenu-item-detail.rate:after
{
	-webkit-mask-image: url(../images/rate-icon.svg);
	mask-image: url(../images/rate-icon.svg);
}
.usermenu-item .usermenu-item-detail.notification:after
{
	-webkit-mask-size: 20px 20px;
	mask-size: 20px 20px;
	-webkit-mask-image: url(../images/notification-icon.svg);
	mask-image: url(../images/notification-icon.svg);
}
.usermenu-item .usermenu-item-detail.mutiara:after
{
	-webkit-mask-image: url(../images/mutiara-icon.svg);
	mask-image: url(../images/mutiara-icon.svg);
}
.ui-panel-open ~ .app-body
{
	height: 100vh;
	overflow: hidden;;
}
.app-scroll-button
{
	display: none;
	position: fixed;
	bottom: 25%;
	right: 15px;
	width: 50px;
	height: 110px;
	z-index: 9;
}
.app-scroll-button .scroll-button
{
	width: 50px;
	height: 50px;
	display: block;
	position: absolute;
	background-color: rgba(0,0,0,0.3);
	-webkit-transition: 0.2s;
	transition: 0.2s;
	top: 0;
	left: 0;
	right: 0;
	border-radius: 50%;
}
.app-scroll-button .scroll-up
{
	display: none;
}
.app-scroll-button .scroll-up:after, .app-scroll-button .scroll-down:after
{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-image: url(../images/arrow-up-icon.svg);
	background-size: 30px 30px;
	background-position: center center;
	background-repeat: no-repeat;
}
.app-scroll-button .scroll-down:after
{
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.app-scroll-button .scroll-up.active, .app-scroll-button .scroll-down.active
{
	background-color: rgba(0,0,0,0.4);
}
.app-scroll-button .scroll-button.scroll-down
{
	top: initial;
	bottom: 0;
}

/*Addon*/
.bacajuga
{
	position: relative;
    display: inline-block;
}
.bacajuga .title {
    background-color: #fff;
    position: absolute;
    margin-left: 30px;
    margin-top: -14px;
    padding: 0px 15px;
}
.bacajuga .content {
    border: solid 1px #dddddd;
    padding: 20px 20px 0px 20px;
}
.bacajuga ul
{
	padding: 0;
	margin: 0 0 15px;
}
.bacajuga ul li {
    list-style: none;
    padding: 0 0 0 25px;
    border-bottom: 0;
    background: url(../images/bullet-img.png) 2px 10px no-repeat;
    background-size: 8px 8px;
}
.bacajuga ul li a
{
    font-weight: 500;
}

code 
{
    display: block;
    margin: 10px 0;
    padding: 5px 20px;
    color: #242424;
    font-family: 'Roboto Slab',Segoe UI,Segoe,Arial,Verdana,sans-serif;
    line-height: 24px;
    border-radius: 2px;
    font-size: 16px;
    overflow: auto;
    border-left: 5px solid #eee;
}

.app-detail-body .addon-apps, .app-detail-body .addon-gadgets
{
    margin: 5px 0;
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ddd;
	position: relative;
}
.app-detail-body .addon-apps h3, .app-detail-body .addon-gadgets h3
{
	margin: 0;
	line-height: 18px;
}
.app-detail-body .addon-apps .apps-detail, .app-detail-body .addon-gadgets .gadget-detail
{
	padding: 15px;
	position: relative;
}
.app-detail-body .addon-apps .cover-container, .app-detail-body .addon-gadgets .cover-container
{
	position: absolute;
	width: 60px;
	height: 60px;
	left: 15px;
	top: 15px;
}
.app-detail-body .addon-apps .info-container, .app-detail-body .addon-gadgets .info-container
{
	padding: 0 0 0 75px;
}
.app-detail-body .addon-apps .action-container
{
    position: relative;
    width: 120px;
    margin-top: 5px;
    margin-right: 0;
    margin-left: auto;
}
.app-detail-body .addon-gadgets .action-container
{
	display: none;
}
.app-detail-body .addon-apps .apps-detail.horizontal.xlSz .info .title, .app-detail-body .addon-gadgets .gadget-detail.horizontal.xlSz .info
{
	max-height: 24px;
	margin-bottom: 0;
	overflow: hidden;
	display: inline-block;
}
.app-detail-body .addon-apps .apps-detail.horizontal .title .title-text, .app-detail-body .addon-gadgets .gadget-detail.horizontal .info .title-text
{
    font-size: 16px;
    line-height: 24px;
    color: #252525;
    font-weight: 700;
}
.app-detail-body .addon-apps .apps-detail.horizontal .title .title-text.fwL, .app-detail-body .addon-gadgets .gadget-detail.horizontal .info .title-text.fwL
{
	color: #999999;
	font-weight: 100;
}
.app-detail-body .addon-apps .action-container .action-btn, .app-detail-body .addon-gadgets .action-container .action-btn  
{
	height: 30px;
	width: 100%;
	font-size: 14px;
	line-height: 30px;
	background-size: 18px;
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
	display: inline-block;
	border-radius: 4px;
	margin-bottom: 5px;
	color: #fff;
	text-shadow: 0 0 0;
}
.app-detail-body .addon-apps .action-container .action-btn:last-child
{
	margin: 0;
}
.action-container .action-btn.clearBlue
{
	background-color: #008efa;
}
.action-container .action-btn.clearBlue:hover, .action-container .action-btn.clearBlue:active
{
	background-color: #0b78e8;
}
.action-container .action-btn.clearGreen
{
	background-color: #6ab344;
}
.action-container .action-btn.clearGreen:hover, .action-container .action-btn.clearGreen:active
{
	background-color: #458d20;
}
.action-container .action-btn.boldRed
{
	background-color: #C10E0E;
}
.action-container .action-btn.boldRed:hover, .action-container .action-btn.boldRed:active
{
	background-color: #8A0707;
}
.aptoide-btn
{
	display: none!important;
}
.app-detail-body .addon-apps .addon-discover, .app-detail-body .addon-gadgets .addon-discover
{
	display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2px 10px;
    background: #f8f8f8;
    line-height: 12px;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
}
.app-detail-body .addon-apps .addon-discover span, .app-detail-body .addon-discover a
{
	font-size: 11px;
	color: #999999;
}
.app-detail-body .addon-apps .addon-discover a
{
	font-weight: 700;
}
.app-detail-body .addon-apps .property, .app-detail-body .addon-gadgets .property
{
	white-space: nowrap;
	line-height: 12px;
}
.app-detail-body .addon-apps .property a, .addon-apps .property span, .app-detail-body .addon-gadgets .property a, .addon-gadgets .property span
{
	vertical-align: middle;
	display: inline-block;
}
.app-detail-body .addon-apps .property .hidden-480, .app-detail-body .addon-gadgets .property .hidden-480
{
	display: none;
}
.app-detail-body .addon-apps .os-icon {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    background-image: url(../images/i-os-spr.png);
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 5px;
}
.app-detail-body .addon-apps .os-style.android 
{
    background-color: #6ab344;
    background-position: 0 0;
}
.app-detail-body .addon-apps .info
{
	position: relative;
	overflow: hidden;
}
.app-detail-body .addon-gadgets .info
{
	height: 60px;
}
.app-detail-body .addon-apps .info:after, .app-detail-body .addon-gadgets .info:after
{
	content    : "";
	text-align : right;
	bottom     : 0;
	right      : 0;
	width      : 25%;
	display    : block;
	position   : absolute;
	height     : 100%;
	background : linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 75%);
}
.app-detail-body .addon-apps .property a, .app-detail-body .addon-gadgets .property a
{
	color: #999999;
	font-weight: 500;
	font-size: 14px;
}
.app-detail-body .appsinner, .app-detail-body .artikelmenarik, .app-detail-body .partner-banner-aftc-artikel-menarik
{
	display: none;
}

/* Prettify script */
.app-detail-body .str { color: #080 }  /* string content */
.app-detail-body .kwd { color: #678CB1 }  /* a keyword */
.app-detail-body .com { color: #800 }  /* a comment */
.app-detail-body .typ { color: #c10e0e }  /* a type name */
.app-detail-body .lit { color: #0086cf }  /* a literal value */
/* punctuation, lisp open bracket, lisp close bracket */
.app-detail-body .pun, .app-detail-body .opn, .app-detail-body .clo { color: #660 }
.app-detail-body .tag { color: #008 }  /* a markup tag name */
.app-detail-body .atn { color: #606 }  /* a markup attribute name */
.app-detail-body .atv { color: #080 }  /* a markup attribute value */
.app-detail-body .dec, .var { color: #606 }  /* a declaration; a variable name */
.app-detail-body .fun { color: red }  /* a function name */
.app-detail-body .color-tag>span { color: inherit!important; font-weight: inherit!important;}
.app-detail-body pre.prettyprint
{
    border: 0px solid #888;
    clear: both;
        border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
ol.linenums
{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 40px;
}
.app-detail-body .prettyprint {
}
.app-detail-body .prettyprint li{
    font-family: monospace!important;
    font-size: 12px!important;
    line-height: 16px!important;
    word-wrap: break-word;
    white-space: pre-wrap;
}
li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9
{
    color: #555;
    list-style-type: decimal;
}
li.L1, li.L3, li.L5, li.L7, li.L9 {
    background: #f2f2f2;
}
.app-detail-body .prettyprint li:hover{
    background: #dfdfdf;
}
@media print
{
    .str
    {
        color: #060;
    }
    .kwd
    {
        color: #006;
        font-weight: bold;
    }
    .com
    {
        color: #600;
        font-style: italic;
    }
    .typ
    {
        color: #404;
        font-weight: bold;
    }
    .lit
    {
        color: #044;
    }
    .pun
    {
        color: #440;
    }
    .pln
    {
        color: #000;
    }
    .tag
    {
        color: #006;
        font-weight: bold;
    }
    .atn
    {
        color: #404;
    }
    .atv
    {
        color: #060;
    }
}
.app-detail-body .prettify-function{
    float: right;
    right: 10px;
    clear: both;
    margin: 10px 0 4px;
} 
.app-detail-body .prettify-function a{
    display: inline-block;
    line-height: 11px;
    border: 1px solid #eee!important;
    border-radius: 3px;
    padding: 10px 15px;
    margin-right: 5px;
    font-size: 11px;
    position: relative;
}
.app-detail-body .prettify-function a:hover
{
    background: #008efa;
    border: 1px solid transparent;
    color: #fff!important;
}
.app-detail-body .prettify-tooltip
{
    display:none;
    position:absolute;
    top: -30px;
    line-height: 11px;
    border: 1px solid #eee!important;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 11px;
    color: white;
    background:#555;
    z-index: 9999;
    white-space: nowrap;
    width: 100px;
    font-weight: 100;
    text-shadow: 0 0 0;
    text-align: center;
    box-sizing: border-box;
}
.app-detail-body .prettify-tooltip:after
{
    content: "";
    display: block;
    position: absolute;
    bottom:-8px;
    width: 10px;
    left: 45px;
    height: 8px;
    border-top: 8px solid #555; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    box-sizing: border-box;
}

/*Baca juga special*/
.app-detail-body .bacajuga-special {
	padding: 10px 20px;
	clear: both;
	background-color: #fff;
}
.app-detail-body .bacajuga-special .content {
	height: 80px;
	padding-left: 140px;
	padding-right: 170px;
	box-shadow: 0 0 10px -2px #999;
	position: relative
}
.app-detail-body .bacajuga-special .cover {
	width: 140px;
	height: 80px;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0
}
.app-detail-body .bacajuga-special .cover img {
	width: 100%;
	height: 100%;
	margin: 0
}
.app-detail-body .bacajuga-special .special-content {
	display: block;
	height: 80px;
	vertical-align: top;
	width: 100%;
	padding: 10px 0px 10px 20px;
	position: relative;
	box-sizing: border-box;
}
.app-detail-body .bacajuga-special .special-content:after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	height: 100%;
	width: 20px;
	top: 0;
	background: -webkit-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	background: -o-linear-gradient(left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
	background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0))
}
.app-detail-body .bacajuga-special .special-content .short-title {
	font-size: 17px;
	font-weight: bold;
	font-family: "Roboto Slab";
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	max-width: 100%;
	vertical-align: top
}
.app-detail-body .bacajuga-special .special-content .long-title {
	white-space: nowrap;
	overflow: hidden;
	font-size: 14px;
	color: #616161
}
.app-detail-body .bacajuga-special .baca-special {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 130px;
	height: 40px;
	text-align: left;
	border-radius: 3px;
	color: #fff !important;
	box-sizing: border-box;
	line-height: 40px;
	padding-left: 60px;
	background: url("https://assets.jalantikus.com/includes/v5/link-symbol.png") top 10px left 20px no-repeat, #009de4;
	background-size: 20px 20px;
	-webkit-transition: 0.3s;
	transition: 0.32s;
	font-weight: 700
}
.app-detail-body .bacajuga-special .baca-special:hover {
	background: url("https://assets.jalantikus.com/includes/v5/link-symbol.png") top 10px left 20px no-repeat, #1bb1f5;
	background-size: 20px 20px
}
.app-detail-body .bacajuga-special .baca-special:hover {
	border-bottom: 1px solid transparent
}
.app-detail-body .tips-title, .gokil-title, .news-title, .games-title, .apps-title, .gadgets-title {
	color: #00a8ff !important
}
@media (max-width:480px) {
	.app-detail-body .bacajuga-special {
		padding: 0
	}
	.app-detail-body .bacajuga-special .content {
		padding-left: 0;
		padding-right: 150px;
		min-height: 160px
	}
	.app-detail-body .bacajuga-special .cover {
		width: 100px;
		height: 58px;
		display: inline-block;
		position: absolute;
		left: initial;
		top: 20px;
		right: 20px
	}
	.app-detail-body .bacajuga-special .special-content {
		display: inline-block;
		height: auto;
		width: 100%;
		padding: 20px 0 20px 20px;
		position: relative
	}
	.app-detail-body .bacajuga-special .special-content .long-title {
		line-height: 20px;
		margin-top: 5px;
		white-space: normal
	}
	.app-detail-body .bacajuga-special .baca-special {
		top: 100px
	}
}

/*Video*/
.app-detail-body .video-container {
    overflow: hidden;
    position: relative;
    height: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 56.25%;
}
.app-detail-body .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*Baca di Web*/
.app-gotoweb-description
{
    width: 170px;
    height: 40px;
    line-height: 42px;
    color: #fff;
    background-color: #c92737;
    border-radius: 4px;
    padding-left: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin: auto;
    box-sizing: border-box;
    text-shadow: 0 0 0;
    margin-bottom: 20px;
    position: relative;
    -webkit-transition: 0.3s;
	transition: 0.3s;
	overflow: hidden;
}
.app-gotoweb-description:after
{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
    width: 55px;
    height: 40px;
	background-image: url(../images/openbrowser-icon.svg) ;
	background-size: 24px 24px;
	background-position:  center center;
	background-repeat: no-repeat;
}

/*Kembali ke home*/
.app-gotohome-description
{
    width: 225px;
    height: 40px;
    line-height: 42px;
    color: #fff;
    background-color: #c92737;
    border-radius: 4px;
    padding-left: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    margin: auto;
    box-sizing: border-box;
    text-shadow: 0 0 0;
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;
    -webkit-transition: 0.3s;
	transition: 0.3s;
	overflow: hidden;
}
.app-gotohome-description:after
{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
    width: 55px;
    height: 40px;
    -webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 24px 24px;
	mask-size: 24px 24px;
	-webkit-mask-position: center center;
	mask-position: left center;
	-webkit-mask-image: url(../images/home-icon.svg);
	mask-image: url(../images/home-icon.svg);
	-webkit-transition: 0.3s;
	transition: 0.3s;
	background-color: #fff;
}
.app-detail-end
{
    height: 1px;
    background: #fff;
    width: 100%;
}
.splash, .splash-background
{
	background: #8f1f1f;    
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 98
}
.splash-content:before
{
	content: "";
    background: radial-gradient(circle closest-side, rgba(210, 47, 47, 1), rgba(143,31,31, 1) );
    width: 540px;
    height: 540px;
    border-radius: 50%;
    position: absolute;
  	left: calc( (100vw - 540px) / 2);
	top: 40px;
	z-index : 1
}
.splash-content
{
	position: relative;
	height: 540px;
	width: 100vw;
	margin-top: 40px;
	z-index: 99
}
.splash-content div
{
	position: relative;
	z-index: 5
}
.splash-content .splash-image img
{
	margin-top: 100px;
	margin-left: calc(((100vw - 200px) / 2) - 39px)
}
.splash-content .splash-quote
{
	opacity: 0;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	height: 72px;
	padding: 20px 20px 10px 20px;
	color: #fff;
    font-weight: 500;
    text-shadow: 0 0 0;
	-webkit-transition: 0.2s;
    transition: 0.2s;
	z-index : 100;
}
.splash-content .splash-speaker
{
	opacity: 0;
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	font-style: italic;
	color: #fff;
	-webkit-transition: 0.2s;
    transition: 0.2s;
    font-weight: 100;
    text-shadow: 0 0 0;
}
.splash-content .splash-loading
{
    position: fixed;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255,255,255,0.6);
    text-shadow: 0 0 0;
}
.splash-content .splash-loading:after
{
	position: absolute;
    content: "";
    left: calc(100% + 2px);
    bottom: 10px;
    width: 2px;
    height: 2px;
    background: transparent;
    animation: dot 3s infinite;
    border-radius: 50%;
}
.no-splash
{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100vh;
	width: 100vw;
	z-index: 90;
	background-color: #8f1f1f;
}
.no-splash .app-loader
{
	position: fixed;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	margin: 0;
}
@keyframes dot
{
	0%, 25% {
		box-shadow: 2px 2px 0 transparent, 6px 2px 0 transparent, 10px 2px 0 transparent;
	}
	26%, 50% {
    	box-shadow: 2px 2px 0 rgba(255,255,255,0.6), 6px 2px 0 transparent, 10px 2px 0 transparent;
	}
	51%, 75% {
    	box-shadow: 2px 2px 0 rgba(255,255,255,0.6), 6px 2px 0 rgba(255,255,255,0.6), 10px 2px 0 transparent;
	}
	76%, 100% {
    	box-shadow: 2px 2px 0 rgba(255,255,255,0.6), 6px 2px 0 rgba(255,255,255,0.6), 10px 2px 0 rgba(255,255,255,0.6);
	}
}

/*In app browser loading*/
.app-header.browser
{
	background-color: #c92737
}
.app-header.browser:before
{
    position: absolute;
    width: 100%;
    content: "";
    height: 3px;
    bottom: 0;
    top: initial;
    background-color: #bcbcbc;
    opacity: 1;
    transition: 0.4s;
}
.app-header.browser:after
{
    position: absolute;
    width: 15%;
    content: "";
    height: 3px;
    left: -35%;
    bottom: 0;
    top: initial;
    background-color: #fff;
    animation: loadbar 2s infinite linear;
    transition: 0.4s;
    opacity: 1;
    z-index: 9;
}
.app-header.browser.fadedout:after, .app-header.browser.fadedout:before
{
    opacity: 0;
}
@keyframes loadbar
{
    0%{left: -55%}
    55%{width:75%;left: 25%}
    80%{width:65%;left: 80%}
    100%{left: 100%}
}

.app-rating{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.46);
    z-index: 1005;
    display: none;
}
.app-rating .app-rating-overlay
{
    width: 100%;
    height: 100%;
}
.app-rating .app-rating-body
{
    position: absolute;
    width: 280px;
    height: 220px;
    border-radius: 5px;
    background: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-sizing: border-box;
}
.app-rating .app-rating-title
{
    font-weight: 700;
    font-size: 16px;
}
.app-rating .app-rating-submit
{
   	position: absolute;
    bottom: 20px;
    right: 20px;
    overflow: hidden;
    padding: 10px 40px;
    border: 1px solid #b7b7b7;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 700;
}
.app-rating .app-rating-close
{
	width: 28px;
	height: 28px;
	position: absolute;
	top: -12px;
	right: -12px;
	background-image: url(../images/close-icon.svg);
	background-size: 16px 16px;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #fff;
	border-radius: 50%;
}
.app-rating .app-rating-stars
{
    padding-left: 15px;
    margin-top: 15px;
}
.app-rating .app-rating-stars .rate-star
{
    -webkit-mask-image: url(../images/favorite-icon.svg);
    mask-image: url(../images/favorite-icon.svg);
    -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-size: 30px 30px;
    mask-size: 30px 30px;
    background-color: #eaeaea ;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 15px;
   
    position: relative;
}
.app-rating .rate-star:after
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    display: block;
    background-image: url(../images/favorite-icon.svg);
    background-size: 30px 30px;
    opacity: 0; 
    transition: 0.2s;
    -webkit-transition: 0.2s;
}
.app-rating .rate-star.active:after
{
    opacity: 1;
}
.app-rating .app-rating-stars .rate-star:last-child
{
    margin-right: 0;
}
.app-rating .app-rating-subtitle
{
    margin-top: 10px;
    font-size: 13px;
    line-height: 18px;
}
.onoffswitch {
    position: absolute; 
    width: 55px;
    right: 20px;
    top: 20px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 15px; padding: 0; line-height: 15px;
    border: 0px solid #FFFFFF; border-radius: 20px;
    background-color: #9E9E9E;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #c92737;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
    background-color: #c92737; 
    box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.2);
}
.onoffswitch-label:before {
   	content: "";
    display: block;
    height: 20px;
    width: 20px;
    margin: -2.5px;
    background: #FFFFFF;
    position: absolute;
    top: -2px;
    bottom: 0;
    right: 36px;
    border-radius: 20px;
    box-shadow: 0 3px 5px 0px #757575;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border: 2px solid #FFF;
}
