<div class="app-detail-container">
    <div class="app-detail-header">
        <div class="header-image">
            <img src="<%= detail.image.baseUrl %>380/0<%= detail.image.file %>" alt="<%= detail.title %>" />
        </div>
        <div class="header-detail">
            <div class="header-title shadow-l2">
                <%= detail.title %>
            </div>
            <div class="header-author">
                Ditulis oleh <strong><%= detail.user.name %></strong>
            </div>
            <div class="header-published">
                <strong><%= detail.published %></strong> yang lalu
            </div>
        </div>
    </div>
    <ul class="share-container">
        <li class="wa-share shadow-l1"><a href="#"></a></li><li class="bbm-share shadow-l1"><a href="#"></a></li><li class="line-share shadow-l1"><a href="#"></a></li><li class="fb-share shadow-l1"><a href="#"></a></li><li class="link-share shadow-l1"><a href="#"></a></li>
    </ul>
    <div class="app-detail-body">
        <%= detail.description %>
    </div>

    <a class="app-gotoweb" href="<%= detail.links.detail %>">
        <div class="app-gotoweb-description">
            BACA DI WEB
        </div>
    </a>
    <% if (detail.related.article.length > 0) { %>
        <div class="app-article-more">
            <div class="more-title">
                KAMU PASTI SUKA
            </div>
            <% _.each(detail.related.article, function(value) { %>
                <div class="app-index-card shadow-l1">
                    <div class="card-description">
                        <div class="card-title">
                            <%= value.title %>
                        </div>
                    </div>
                    <div class="card-image">
                        <img src="<%= value.image.baseUrl %>120/120<%= value.image.file %>" alt="<%= value.title %>">
                    </div>
                    <a href="#article/<%= value.slug %>" class="card-link">
                        <div class="ripple"></div>
                    </a>
                </div>
            <% }) %>
        </div>
    <% } %>
</div>

<iframe id="iframe-jalantikus" data-src="<%= detail.links.detail %>?utm_source=JT%20Apps&utm_medium=Android&utm_campaign=Apps" width="1" height="1" frameborder="0" style="display: none !important; width: 0px !important; height: 0px !important;;"></iframe>