<div class="app-detail-container">
    <div class="app-detail-header">
        <div class="header-image">
            <img src="<%= detail.image.baseUrl %>480/0<%= detail.image.file %>" alt="<%= detail.title %>" />
            <div class="header-author">
                Ditulis oleh <strong><%= detail.user.name %></strong>
            </div>
            <div class="header-published">
                <strong><%= detail.published %></strong> yang lalu
            </div>
        </div>
        <div class="header-title shadow-l2">
            <%= detail.title %>
        </div>
    </div>
    <div class="app-detail-body">
        <ul class="share-container">
            <li class="wa-share shadow-l1"><a href="#"></a></li><li class="bbm-share shadow-l1"><a href="#"></a></li><li class="line-share shadow-l1"><a href="#"></a></li><li class="fb-share shadow-l1"><a href="#"></a></li><li class="link-share shadow-l1"><a href="#"></a></li><li class="more-share shadow-l1"><a href="#"></a></li>
        </ul>
        <p>
            Siapa sangka kiprah <a target="_blank" href="https://jalantikus.com/gadgets/tips-memilih-laptop-gaming/">Galaxy Note 7</a> cuma seumur jagung, Samsung telah mengumumkan bahwa Galaxy Note 7 telah tutup usia. Seluruh Galaxy Note 7 yang telah terjual <strong>ditarik kembali</strong> atau recall oleh Samsung, sementara penjualannya di semua negara dihentikan.
        </p>
        <p>
            Samsung diperkirakan sudah menjual sekitar 2,5 juta unit Galaxy Note 7 dan sekitar 1 juta di antaranya <a target="_blank" href="https://jalantikus.com/gadgets/tips-memilih-laptop-gaming/">sudah sampai di tangan konsumen</a>. Jumlah ini belum termasuk yang melakukan pre-order di seluruh dunia.
        </p>
        <h2>
            Jutaan Pemilik Galaxy Note 7 Bakal Selingkuh ke iPhone 7
        </h2>
        <p>
            <img src="images/placeholder03.jpeg">
        </p>
        <p>
            Fitur seperti pemindai mata yang mungkin dulu merupakan hal yang tidak mungkin dibenamkan di sebuah perangkat genggam, namun nyatanya Samsung bisa membuktikan hal tersebut di Galaxy Note 7.
        </p>
        <h3>
            Inilah Harga Samsung Galaxy Note 7 di Beberapa Negara!
        </h3>
        <p>
            Harga yang dibawa oleh AT&T jika kamu membelinya secara kontan yakni sebesar US$849 atau sekitar Rp11,1 juta.
        </p>
    </div>
</div>