<div class="app-detail-container">
    <div class="app-detail-header">
        <div class="header-image">
            <img src="<%= detail.image.baseUrl %>380/0<%= detail.image.file %>" alt="<%= detail.title %>" />
        </div>
        <div class="header-detail">
            <div class="header-title shadow-l2">
                <%= detail.title %>
            </div>
            <div class="header-author">
                Ditulis oleh <strong><%= detail.user.name %></strong>
            </div>
            <div class="header-published">
                <strong><%= detail.published %></strong> yang lalu
            </div>
        </div>
    </div>
    <ul class="share-container">
        <li class="wa-share shadow-l1"><a href="#"></a></li><li class="bbm-share shadow-l1"><a href="#"></a></li><li class="line-share shadow-l1"><a href="#"></a></li><li class="fb-share shadow-l1"><a href="#"></a></li><li class="link-share shadow-l1"><a href="#"></a></li>
    </ul>
    <div class="app-detail-body">
        <%= detail.description %>
    </div>
</div>