<div class="app-toolbar-placeholder"></div>
<div class="app-content-container">
    <!--<div class="app-index-card shadow-l1">-->
        <!--<div class="card-description">-->
            <!--<div class="card-title">-->
                <!--7 Alasan kenapa iPhone lebih Cocok untuk Cewek Ketimbang Cowok-->
            <!--</div>-->
            <!--<div class="card-note">-->
                        <!--<span class="card-author">-->
                            <!--Epi Kusnara-->
                        <!--</span>-->
                        <!--<span class="card-published">-->
                            <!--1 jam yang lalu-->
                        <!--</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="card-image">-->
            <!--<img src="assets/images/placeholder01.png">-->
        <!--</div>-->
        <!--<a href="javascript:void(0)" class="card-link">-->
            <!--<div class="ripple">-->
            <!--</div>-->
        <!--</a>-->
    <!--</div>-->
    <!--<div class="app-index-card multi-image shadow-l1">-->
        <!--<div class="card-description">-->
            <!--<div class="card-title">-->
                <!--7 Alasan kenapa iPhone lebih Cocok untuk Cewek Ketimbang Cowok-->
            <!--</div>-->
            <!--<div class="card-note">-->
                        <!--<span class="card-author">-->
                            <!--Epi Kusnara-->
                        <!--</span>-->
                        <!--<span class="card-published">-->
                            <!--1 jam yang lalu-->
                        <!--</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="card-image">-->
            <!--<img src="assets/images/placeholder02.png"><img src="assets/images/placeholder02.png"><img-->
                <!--src="assets/images/placeholder02.png">-->
        <!--</div>-->
        <!--<a href="javascript:void(0)" class="card-link">-->
            <!--<div class="ripple">-->
            <!--</div>-->
        <!--</a>-->
    <!--</div>-->
    <div class="app-loader">
        <div class="app-load"></div>
    </div>
</div>