<div class="app-toolbar-placeholder"></div>
<div class="app-content-container">



    <div class="app-index-card card-placeholder shadow-l1">
        <div class="card-description">
            <div class="card-title">
            </div>
            <div class="card-note">
                <span class="card-author">
                </span>
                <span class="card-published">
                </span>
            </div>
        </div>
        <div class="card-image"></div>
        <a href="javascript:void(0)" class="card-link disabled">
            <div class="ripple">
            </div>
        </a>
    </div>
    <div class="app-index-card card-placeholder shadow-l1">
        <div class="card-description">
            <div class="card-title">
            </div>
            <div class="card-note">
                <span class="card-author">
                </span>
                <span class="card-published">
                </span>
            </div>
        </div>
        <div class="card-image"></div>
        <a href="javascript:void(0)" class="card-link disabled">
            <div class="ripple">
            </div>
        </a>
    </div>
    <div class="app-index-card card-placeholder shadow-l1">
        <div class="card-description">
            <div class="card-title">
            </div>
            <div class="card-note">
                <span class="card-author">
                </span>
                <span class="card-published">
                </span>
            </div>
        </div>
        <div class="card-image"></div>
        <a href="javascript:void(0)" class="card-link disabled">
            <div class="ripple">
            </div>
        </a>
    </div>
    <div class="app-index-card card-placeholder shadow-l1">
        <div class="card-description">
            <div class="card-title">
            </div>
            <div class="card-note">
                <span class="card-author">
                </span>
                <span class="card-published">
                </span>
            </div>
        </div>
        <div class="card-image"></div>
        <a href="javascript:void(0)" class="card-link disabled">
            <div class="ripple">
            </div>
        </a>
    </div>
    <div class="app-index-card card-placeholder shadow-l1">
        <div class="card-description">
            <div class="card-title">
            </div>
            <div class="card-note">
                <span class="card-author">
                </span>
                <span class="card-published">
                </span>
            </div>
        </div>
        <div class="card-image"></div>
        <a href="javascript:void(0)" class="card-link disabled">
            <div class="ripple">
            </div>
        </a>
    </div>
</div>